# Entorno
.env
.env.local
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.code-workspace

# Node
node_modules/

# Archivos de build/zip
*.zip
*.tar.gz

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Google Play service account (no commitear)
google-service-account.json
