APP_NAME=solen-notify
VERSION=1.0.0
ENVIRONMENT=development
PORT=8004
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/solen_notify_db
JWT_SECRET_KEY=cambia_esto_en_produccion
JWT_ALGORITHM=HS256
EXPO_ACCESS_TOKEN=tu_expo_access_token
PROTOCOLS_SERVICE_URL=http://localhost:8002
